[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=QT Minibrowser
Comment=The minibrowser from QT examples, with Virtual Keyboard
Type=Application
Terminal=false
Exec=minibrowser %u
Categories=Qt;KDE;Network;WebBrowser;
MimeType=text/html;
InitialPreference=9